body {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 30px;
  background-color: orange; 
}
h1{
  font-family: Open Sans;
}
introduction{
  font-family: Arial;
  color: white;
}


